:root {
  --gray-color: #e6e6e6;
  --white-color: #fff;
  --turquoise-color: #4693a4;
  --dark-grey-color: #afbbbd;
  --light-turquoise-color: #badee5;
  --dark-turquoise-color: #aad2da;
  --gray--button--color:#AFBBBD;
  --black--border: #101415;
}
