@import "./color.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  margin: 0;
  background-color: var(--gray-color);
  padding: 24px 90px;
}
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-decoration: none;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
