@import "./color.scss";

@mixin flexbox-center($br) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $br;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin input-text($width, $border-radius) {
  width: $width;
  outline: none;
  background-color: #fff;
  color: #353535;
  padding: 10px 15px;
  border: 1px solid #afbbbd;
  border-radius: $border-radius;
  &::placeholder {
    color: #afbbbd;
  }
}

@mixin button($background-color) {
  background-color: $background-color;
  outline: none;
  color: var(--white-color);
  border-radius: 40px;
  padding: 10px 15px;
  font-weight: 700;
  img {
    padding-right: 4px;
  }
}
