@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.ViewMyAppointment{
    .box{
        margin-top: 15px;
        .container{
            @include container;
            height: auto;
            .Apointments{
                border-bottom: 1px solid #AFBBBD;
                .button__div{
                    display: flex;
                    .button__divFirst{
                        margin-right: 20px;
                        @include button(var(--gray--button--color));
                    }
                    margin-bottom: 20px;
                }
            }
            button{
                align-items: center;
                @include button(var(--turquoise-color));
            }
        }
    }
}